form.user-form > input {
    width: 80%;
    margin-bottom: 20px;
}

.user-input-wrapper {
    width: 80%;
    margin-bottom: 20px;
}

.user-input-wrapper > input {
    width: 100%;
}

.gender-list-wrapper {
    width: 80%;
    margin: 10px 0;
}

.gender-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.n-disabled {
    background-color: transparent !important;
    border: 1px solid #ff8e75 !important;
    color: #ff8e75 !important;
}

@media (max-width: 414px) and (max-height: 823px) {
    form.user-form > input, .user-input-wrapper, .gender-list-wrapper {
        margin-bottom: 10px;
        width: 90%;
    }
}

@media (max-width: 823px) and (max-height: 414px) {
    form.user-form > input, .user-input-wrapper, .gender-list-wrapper {
        margin-bottom: 10px;
        width: 90%;
    }
}